

header {
    padding-bottom: 2%;
    
}

p {
    text-indent: 30px;
    padding: 0 2% 0 2%;
    line-height: 30px;
}

.bold {
    font-weight: 900;
}

.ital {
    font-style: italic;
    font-size: 1.1em;
}

header h1{
    margin-left: 35%;
}

header h3 {
    margin-left: 35%;
}

header h4 {
    margin-left: 35%;
}
#contentWrapper{
    
    padding-bottom: 5%;
    margin-left: 5%;
    border-top-color: black;
    border-top-style: solid;
}

#aboveFold {
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-bottom: 2%;
}

ul li {
    margin-top: 1%;
}

#belowFold {
    border-bottom-style: solid;
    border-bottom-color: black;
    padding-bottom: 2%;
}

#availableWhen {
    margin-left: 5%;
}

article {
    margin-top: 5%;
}

articleCL {
    margin-top: 2%;
}

.column {
    
    width: 15%;
    margin: 2%;
    padding: 2%;
    float: right;
    clear: none;
}

.columnLast{
    
    width: 15%;
    margin: 2%;
    padding: 2%;
    float: right;
    clear: both;
}

#signature h3{ 
    font-family: cursive;
    padding-left: 5%;
}

#signed h2 {
    font-family: cursive;
    font-size: 2em;
    padding-left: 7%;
}

#phoneMe {
}

#emailMe {
}

footer {
    margin-left: 40%;
}